@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EBF3FF;
    transition: all 0.3s ease;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #FCA311;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #F3C16E;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #C1CFEB;
    z-index: -100;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header p {
    font-size: 32px;
    font-weight: 350;
    color: #141414;
    margin-top: 12px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.dark-light {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #DEE7F7;
    color: #000;
    border: 1.5px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 16px 17.67px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    opacity: 100;
    transition: all 0.3s ease;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}

.dark-light:hover {
    background-color: #D1DBF0;
    border-color: #F3C16E;
    box-shadow: none;
}

.copyright {
    margin: auto;
    padding: 1rem;
    color: #707070;
    font-size: 0.8rem;
    text-align: center;
    background-color: #E3EDFF;
    transition: all 0.3s ease;
}

@media (width < 1100px) {
    .nav-links {
        display: none;
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills {
        grid-template-columns: repeat(1, 1fr);
    }
}