@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #171314;
}

nav {
    margin: auto;
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272425;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #6E8587;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #000;
    background-color: #6E8587;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #434C4E;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #6E8587;
    z-index: -100;
}

header {
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 64px;
    font-weight: 600;
    line-height: 4rem;
}

header h1 span {
    color: #6E8587;
}

header p {
    font-size: 32px;
    font-weight: 400;
    color: #ccc;
    margin-top: 12px;
    margin-bottom: 1.5rem;
}

section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.about {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.about .card {
    padding: 3rem 2rem;
    background-color: #272425;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.about .card:hover {
    background-color: #323232;
    border-color: #6E8587;
}

.about .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.about .card h4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.about .card h3 {
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px;
}

.skills {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.skills .card {
    background-color: #272425;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.skills .card:hover {
    background-color: #343233;
    border-color: #6E8587;
}

.skills .card span {
    display: inline-block;
    background-color: #6E8587;
    padding: 2px 9px;
    padding-bottom: 0px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.skills .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.skills .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.achievements {
    margin-top: 4rem;

    table,
    th,
    td {
        border: 2.25px solid #ccc;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 20px;
    }

    table {
        width: 100%;
        color: #fff;
    }
}

.projects {
    margin-top: 4rem;

    table,
    th,
    td {
        border: 2.25px solid #ccc;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 20px;
    }

    table {
        width: 100%;
        color: #fff;
    }

    a {
        color: #6E8587;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #434C4E;
    }
}













footer {
    position: relative;
    background: #272425;
    padding: 40px 50px 40px;
    margin-top: 100px;
}

footer .cols {
    display: flex;
}

footer .cols .about-col h3 {
    color: #6E8587;
    margin-bottom: 10px;
}

footer .cols .about-col p {
    color: #cccccc;
    font-size: 13px;
}

footer .cols .links-col {
    margin-left: auto;
}

footer .cols .links-col a {
    display: block;
    text-decoration: none;
    color: #434C4E;
    font-size: 20px;
    margin-top: 1.5vh;
    transition: color 0.3s ease;
    font-weight: 500;
}

footer .cols .links-col a:hover {
    color: #6E8587;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}